[{:id         "100"
  :msg_type   "edn"
  :consume-fn chocolate.amqp.rabbit.consumer/create-consumer-for
  :exchange   "my-exchange"
  :queue      "some.queue"
  :pb_type    ""}
 {:id         "200"
  :msg_type   "pb"
  :consume-fn chocolate.amqp.rabbit.consumer/create-consumer-for
  :exchange   "pb-exchange"
  :queue      "person.queue"
  :pb_type    "Person"}
 {:id         "300"
  :msg_type   "pb"
  :consume-fn chocolate.amqp.rabbit.consumer/create-consumer-for
  :exchange   "pb-exchange"
  :queue      "message.queue"
  :pb_type    "Message"}
 {:id         "400"
  :msg_type   "edn"
  :consume-fn chocolate.amqp.jms.consumer/create-consumer-for
  :exchange   ""
  :queue      "some"
  :pb_type    ""}
 {:id         "500"
  :msg_type   "pb"
  :consume-fn chocolate.amqp.jms.consumer/create-consumer-for
  :exchange   ""
  :queue      "person"
  :pb_type    "Person"}]