{"Person" {:class "com.example.tutorial.Example$Person"
           :protoc "resources/proto/person.proto"
           :dummy {:id 0 :name "dummy"}}
 "Message" {:class "com.example.tutorial.Example$Message"
            :protoc "resources/proto/person.proto"
            :dummy {:sender "dummy" :content "dummy" :tags ["dummy"]}}}
