{"Person" {:class "protobuf.examples.PersonOuterClass$Person"
           :protoc "resources/proto/person.proto"
           :dummy {}}
 "Message" {:class "protobuf.examples.MessageOuterClass$Message"
            :protoc "resources/proto/message.proto"
            :dummy {}}}
